<div class="flex justify-content-end">
  <p-button icon="pi pi-plus" [routerLink]="['routine']" />
</div>

@if (routines && routines.length > 0) {

<!-- Table -->

<div class="card">
  <p-table [value]="routines" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="body" let-routine>
      <tr>
        <td>
          <p-card [style]="{ margin: '15px 0' }">
            <div class="flex align-items-center">
              <i class="pi pi-heart text-6xl text-blue-500"></i>
              <div class="ml-3">
                <span class="text-blue-500 block white-space-nowrap text-2xl">{{
                  routine.titleExercise
                }}</span
                ><span class="text-blue-500 block font-bold text-sm">{{
                  routine.date
                }}</span>
              </div>
            </div>

            <div class="flex justify-content-end gap-2">
              @if (routine.status == 'EnProceso') {
              <p-tag severity="success" value="En proceso" />
              } 
              @else if (routine.status == 'Pendiente') {
                <p-tag severity="warning" value="Pendiente" />
              } 
              @else {
              <p-tag severity="danger" value="Finalizada" />
              }
            </div>

            <div class="flex justify-content-end">
              <p-button icon="pi pi-plus" (onClick)="deleteRoutine(routine.id)" />
            </div>
          </p-card>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ routines ? routines.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>
} @else {
<h3 class="text-center">Por el momento no hay rutinas creadas</h3>
<h4 class="text-center">Quieres crear una nueva rutina ?</h4>
<h4 [routerLink]="['/newRoutine']" class="text-center text-blue-200">
  Crear nueva rutina
</h4>
}
