::ng-deep .styleCard {
    display: block;
    width: 100%;
    min-width: 223px;
    max-width: 433px;
    margin: 0 auto;

    .p-card-body {
        height: 135px;
        padding: 18px;
    }
}

h3 {
    margin: -5px 0;
    font-size: 24px;
}

h4 {
    margin-top: 20px;
    font-size: 18px;
}

span {
    font-size: 14px;
}

@media (max-width: 328px) {
    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 15px;
    }
}


@media (min-width: 329px) and (max-width: 407px) {
    h3 {
      font-size: 18px;
    }
}

@media (min-width: 747px) {

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }
}
