h3{
    margin: -5px 0;
    font-size: 24px;
}

h4{
    margin-top: 20px;
    font-size: 18px;
}

span{
    font-size: 14px;
}

.specialMargin{
    position: absolute;
    bottom: 25px;
}

::ng-deep .styleCard{
    display: inline-block;
    width: 330px;
    height: 147px;
}