::host {
    --displayRowInputNumber: block;
    --displayShadowInputnumber: 0 0 #0000,
    0 0 #0000,
    0 1px 2px 0 rgba(18, 18, 23, 0.05);
    --displayTextAlignTitle: 'left'
}

.input-stylingTitleTag {
    width: 90% !important;
}

.styleText{
    text-align: var(--displayTextAlignTitle);
}


.favouriteItem {
    position: absolute;
    top: -0.2rem;
    font-size: 2.2rem;
    right: 0.5rem;
    color: orange;
    & i {
        position: absolute;
        top: 0.3rem;
        font-size: 1rem;
        right: 0.6rem;
        color: white;
    }
}

::ng-deep .p-dialog{
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

::ng-deep .p-dialog-mask.p-component-overlay {
    background: transparent;
}

::ng-deep .inputAccordion{
    margin-top: -8px;
    margin-bottom: 10px;
    width: 65%;
}

::ng-deep .inputAccordionNumber{
    margin-top: -8px;
    margin-bottom: 10px;

    span input{
        width: 145px;
    }
}

::ng-deep .inputSeriesAccordion{
    margin-top: -8px;

    span input{
        width: 145px;
    }
}

::ng-deep .p-accordion .p-accordion-tab-active>.p-toggleable-content:not(.ng-animating) {
    height: 70px;
}

::ng-deep .p-inputnumber.p-inputnumber-buttons-stacked .p-inputnumber-button-group {
    display: var(--displayRowInputNumber); // flechas tipo input number
}

::ng-deep .p-inputtext {
    box-shadow: var(--displayShadowInputnumber);
}

::ng-deep .classDropdown{
    margin-top: 0.5rem;
}

::ng-deep .p-dialog-draggable .p-dialog-header{
    background: white;
    margin-bottom: 0;
    span {
        font-weight: lighter;
    }
}

::ng-deep .p-dialog .p-dialog-header-icons {
    margin-right: var(--displayRippleButton);
}