<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '335px' }"
  (onHide)="this.sendDialogHide.emit()"
  header="cabecera"
>
  @if (forms != undefined) {

  <!-- Favourite Item -->
  <i
    class="pi pi-bookmark-fill favouriteItem"
    [ngClass]="{ block: forms.value.favourite, hidden: !forms.value.favourite }"
  >
    <i class="pi pi-star-fill"></i
  ></i>

  <ng-template pTemplate="header" class="cabecera">
    <span>{{ date }}</span>

    <div class="flex justify-content-around w-5rem ml-5">
      <app-delete-routine-dialog
        [forms]="forms"
        (isVisible)="getVisible($event)"
      ></app-delete-routine-dialog>

      <i
        class="pi pi-pencil text-yellow-400 text-md mr-2"
        (click)="editRoutine()"
      ></i>
    </div>
  </ng-template>

  <form [formGroup]="forms" (ngSubmit)="onSubmit()">

    @if (forms.value.titleRoutine != undefined && forms.value.titleRoutine != '') {
      <div class="flex justify-content-center">
        <input
          id="disabled-input"
          type="text"
          pInputText
          formControlName="titleRoutine"
          class="styleText"
        />
      </div>
  
      <p-divider></p-divider>
    }


    @if (isDisabledEditAction) {
    <div class="flex flex-column gap-2 mt-2 mb-5 overflow-hidden">
      <label for="username">N de ejercicios: </label>
      <p-inputNumber
        inputId="integeronly"
        formControlName="numExercises"
        (onKeyDown)="generateControlsExercises()"
        [showButtons]="true"
        (onInput)="generateControlsExercises()"
      />
    </div>
    } @if (forms.value.numExercises > 0) {

    <div formArrayName="exercises">
      <div
        *ngFor="let exercise of exercises.controls; let i = index"
        [formGroupName]="i"
        ngClass="{'mt-2' : isDisabledEditAction }"
      >
        <ul for="username" class="p-0 pl-3 mb-2">
          <li>
            <div class="flex">
              <div>Ejercicio {{ i + 1 }}:</div>
              <input
                type="text"
                pInputText
                formControlName="titleExercise"
                class="inputAccordion"
              />
            </div>
          </li>

          @if (isDisabledEditAction) {
          <div class="flex mt-1">
            <div>N de series:</div>
            <p-inputNumber
              inputId="integeronly"
              formControlName="numSeries"
              [showButtons]="true"
              (onInput)="generateControlsSeries(i)"
              class="inputAccordionNumber"
            />
          </div>
          <p-divider *ngIf="forms.value.exercises[i].numSeries > 0"></p-divider>
          }
        </ul>

        <div formArrayName="series" class="pr-1">
          <p-accordion>
            <div
              *ngFor="
                let member of _routineSvc.getSeries(i, exercises).controls;
                let memberIndex = index
              "
              [formGroupName]="memberIndex"
            >
              <p-accordionTab header="Serie: {{ memberIndex + 1 }}">
                <div class="flex flex-column gap-2 mt-2">
                  <div class="text-gray-400 flex">
                    <span>Repeticiones:</span>
                    <p-inputNumber
                      inputId="integeronly"
                      formControlName="replays"
                      [showButtons]="true"
                      class="inputSeriesAccordion"
                    />
                  </div>
                  <div class="text-gray-400 mt-2">
                    <span>Peso:</span>
                    <p-inputNumber
                      inputId="integeronly"
                      formControlName="weight"
                      [showButtons]="true"
                      class="inputSeriesAccordion"
                    />
                  </div>
                </div>
              </p-accordionTab>
              <br />
            </div>
          </p-accordion>
        </div>
      </div>
    </div>

    } @if (isDisabledEditAction) {

    <p-divider></p-divider>
    <div class="flex justify-content-between">
      <div class="card flex justify-content-left">
        <div class="flex flex-column gap-2">
          <label for="tag">Tag</label>
          <input
            pInputText
            id="tag"
            aria-describedby="username-help"
            formControlName="tag"
            class="input-stylingTitleTag"
          />
        </div>
      </div>
      <div class="card flex justify-content-left mr-1">
        <div class="flex flex-column">
          <label for="tag">Color</label>
          <p-dropdown
            [options]="colorsTag"
            formControlName="severityTag"
            optionLabel="name"
            placeholder="Color Tag"
            [(ngModel)]="selectedOption"
            styleClass="w-8rem classDropdown"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-content-left mt-1">
      <p-tag
        value="{{ forms.value.tag }}"
        [severity]="forms.value.severityTag.code"
      ></p-tag>
    </div>

    }

    <!-- Comentarios -->

    <p-divider></p-divider>
    @if(forms.value.comments == '' && !isDisabledEditAction){

    <span class="mt-2 font-bold pt-3">No hay comentarios</span>
    } @else{
    <label for="comments">Comentarios:</label>
    } @if(isDisabledEditAction) {
    <textarea
      pInputTextarea
      aria-labelledby="comments"
      formControlName="comments"
      rows="5"
      cols="30"
      pInputTextarea
      [autoResize]="true"
      class="mt-2"
    ></textarea>
    } @else {
    <p id="comments">{{ forms.value.comments }}</p>
    } 

    <!-- Favoritos -->

    @if (isDisabledEditAction) {
      <div class="flex mb-2 mt-4">
        <label class="w-6 text-center">Anadir a Favoritos:</label>
        <div class="card flex justify-content-center w-6">
          <p-checkbox
            formControlName="favourite"
            [binary]="true"
            inputId="binary"
            (ngModelChange)="show()"
          />
        </div>
      </div>
    }

    <!-- Submit -->

    @if (isDisabledEditAction) {
      <div class="flex justify-content-center mt-4">
        <p-button type="submit" label="Editar" [disabled]="forms.invalid" />
      </div>
    }

  </form>
  }
</p-dialog>
