

<form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div class="flex justify-content-center align-items-center min-h-screen">
        <p-card class="cardWidth">
            <div class="text-center mb-3">
                <img src="assets/images/logo3.png" alt="logo"
                    class="border-round-xl shadow-5 mt-5"
                    style="width: 124px;" />
                <div
                    class="flex justify-content-center align-items-center mt-3">
                    <p class="textColor w-10">Hola! Por favor introduce tus datos para crear tu perfil.</p>
                </div>
            </div>

            <div class="formgroup grid">

                <!-- Email -->
                <div class="mb-4 mt-4 col-12">
                    <p-floatLabel>
                        <input pInputText id="email" type="email"  formControlName="email"  class="w-full"/>
                        <label for="email" class="textColor">Email</label>
                    </p-floatLabel>
                </div>

                <!-- Username -->
                <div class="mb-4 col-12">
                    <p-floatLabel>
                        <input pInputText id="username" type="text"  formControlName="username"  class="w-full"/>
                        <label for="username" class="textColor" (ngModelChange)="checkIfExists()" (blur)="checkIfExists()">Nombre de usuario</label>
                        <span class="text-red-500" *ngIf="!isValidUsername">El nombre de usuario ya existe</span>
                    </p-floatLabel>
                </div>

                <!-- Age -->
                <div class="col-12 grid mb-2 widthGroup">
                    <div class="col-6">
                        <p-floatLabel>
                            <p-inputNumber [maxlength]="3" inputId="integeronly" formControlName="age"  [showButtons]="true" /> 
                            <label for="email" class="textColor">Edad</label>
                        </p-floatLabel>
                    </div>
                    <div class="col-6 flex  justify-content-end">
                        <p-floatLabel>
                            <p-dropdown [options]="genders" formControlName="gender" optionLabel="name" />
                            <label for="genre" class="textColor">Género</label>
                        </p-floatLabel>
                    </div>
                </div>

                <!-- Password -->
                <div class="mb-4 col-12">
                    <p-floatLabel>
                        <p-password formControlName="password" [toggleMask]="true"
                        promptLabel="Escribe tu contraseña"
                        weakLabel="Muy simple"
                        mediumLabel="Complejidad media"
                        strongLabel="Contraseña compleja"
                        (blur)="checkIfMatch()" />
                        <label for="email" class="textColor">Contraseña</label>
                    </p-floatLabel>
                </div>

                <!-- confirm Password -->
                <div class="mb-4 col-12">
                    <p-floatLabel>
                        <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false" (onBlur)="checkIfMatch()"/>
                        <label for="email" class="textColor">Confirma la contraseña</label>
                    </p-floatLabel>
                    <span class="text-red-500" *ngIf="!isPasswordMatch">Las contraseñas no coinciden</span>
                </div>
            </div>

            <!-- Create Button -->
            <div class="flex justify-content-center">
                <p-button label="Crear cuenta" type="submit"  severity="info" [disabled]="!forms.valid && !isPasswordMatch"/>
            </div>

            <!-- Remember account -->
            <p class="mt-3 text-center">Ya tienes una cuenta? <a routerLink="/auth/sign-in" class="no-underline">Iniciar sesión</a></p>

        </p-card>
    </div>
</form>

<p-toast></p-toast>