<div class="flex justify-content-between flex-column gap-4">
  <p-card>
    <div class="flex">
      <div class="card-header">
        <h3 style="margin: 0;">Peso objetivo</h3>
        <h4>80kg</h4>
        <span class="font-medium text-green-500">+12%</span><i class="pi pi-arrow-up text-xs ml-2 text-green-500"></i>
      </div>
      <div class="card-content">
          <app-apex-char-line-labels></app-apex-char-line-labels>
      </div>
    </div>

  </p-card>

  <app-card-last-routine></app-card-last-routine>

  <app-card-last-reportes></app-card-last-reportes>
</div>