::ng-deep .p-card {
    max-width: 400px;
    min-width: 274px;
    margin: 0 auto;
}

.cardsStyles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
}

h3 {
    font-size: 24px;
}

.cardA {
    width: 100%;
    margin: 0 auto;
}

.cardB {
    width: 100%;
    margin: 0 auto;
}
.cardC {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 940px) and (max-width: 1157px) {
    .cardsStyles {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        gap: 2rem;
    }

    .cardA {
        width: 30%;
        display: block;
    }

    .cardB {
        width: 30%;
        display: block;
    }
    .cardC {
        width: 30%;
        display: block;
    }
}

@media (min-width: 1158px) {
    .cardsStyles {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        gap: 2rem;
    }

    .cardA {
        width: 35%;
        display: block;
    }

    .cardB {
        width: 35%;
        display: block;
    }
    .cardC {
        width: 35%;
        display: block;
    }
}
