.alignAccordion{
    padding-top: 9px;
    span{
        padding-top: 19px;
    }
}
.seriesDiv{
    margin-top: -14px;
}

.tagDiv{
    margin-top: -14px;
}

.tagDivDetail{
    margin-top: 12px;
}

.favouriteItem {
    position: absolute;
    top: 0rem;
    font-size: 2.2rem;
    right: 0rem;
    color: orange;
    & i {
        position: absolute;
        top: 0.3rem;
        font-size: 1rem;
        right: 0.6rem;
        color: white;
    }
}

.break-text {
    word-wrap: break-word; /* Compatibilidad con navegadores antiguos */
    overflow-wrap: break-word; /* Maneja palabras largas */
    word-break: break-word; /* Rompe cadenas largas */
    white-space: normal; /* Permite que las líneas se ajusten */
  }