
<app-breadcrumb
    [itemsLabels]="_routineSvc.getBreadcrumbLabelsDetail()"
    [urlActive]="'routines'"></app-breadcrumb>

@if (items != undefined && !isDisabled) {
<div [formGroup]="routineForm">
    <div class="sm:w-10 md:w-8 mx-auto">
        <p-card class="fadein animation-duration-500 w-full h-full">

            <!-- Favourite Item -->
            <i class="pi pi-bookmark-fill favouriteItem" [ngClass]="show()">
                <i class="pi pi-star-fill"></i>
            </i>

            <div class="flex justify-content-end gap-2">
                <p-button icon="pi pi-trash" [rounded]="true" [text]="true" [raised]="true" severity="danger"  (onClick)="confirm2($event)" />
                <p-button icon="pi pi-eye" [rounded]="true" [text]="true" [raised]="true" severity="warn"  (click)="isDisabled = true"/>
            </div>

            <!-- Title routine -->
            <app-custom-input
                [control]="routineForm.controls.titleRoutine"
                type="text"
                id="titleRoutine"
                [label]="isDisabled ? '' : 'Título'"
                formControlName="titleRoutine" />

            <p-divider></p-divider>

            @if (!isDisabled) {
            <div class="flex justify-content-start gap-2 mb-2"
                (click)="generateControlsExercises()">
                <span class="text-gray-400">Añadir ejercicio:</span> <i
                    class="pi pi-plus-circle text-gray-400"></i>
            </div>
            }

            <div formArrayName="exercises">
                <div [formGroupName]="i"
                    *ngFor="let item of routineForm.controls.exercises.controls; let i = index"
                    class="mt-4">
                    <div class="flex justify-content-between">
                        <p class="font-bold">Ejercicio {{i + 1}}</p>
                        @if (!isDisabled) {
                        <p-button icon="pi pi-trash" [rounded]="true"
                            [text]="true" severity="danger"
                            (onClick)="deleteExercise(i)" />
                        }
                    </div>

                    <!-- Title exercise -->
                    <app-custom-input
                        [control]="routineForm.controls.exercises.controls[i].controls.titleExercise"
                        type="text"
                        id="titleExercise"
                        [label]="isDisabled ? '' : 'Titulo'"
                        placeHolder="Introduce el titulo del ejercicio...."
                        formControlName="titleExercise" />

                    <div formArrayName="series">
                        <p-divider></p-divider>
                        <p-accordion>
                            <div
                                *ngFor="let item of routineForm.controls.exercises.controls[i].controls.series.controls; let j = index"
                                [formGroupName]="j" class="seriesDiv">
                                <p-accordionTab>
                                    <ng-template pTemplate="header">
                                        <div
                                            class="grid w-full alignAccordion mr-3">
                                            <span class="col-10">Serie {{ j + 1
                                                }}</span>
                                            @if (!isDisabled) {
                                            <p-button icon="pi pi-trash"
                                                [rounded]="true" [text]="true"
                                                severity="danger" class="col-2"
                                                (onClick)="deleteSerie({parent:i, child:j})"></p-button>
                                            }
                                        </div>
                                    </ng-template>

                                    <div
                                        class="grid px-3 fadein animation-duration-500 overflow-hidden">
                                        <div class="col-6 md:col-6">
                                            <!-- Weight -->
                                            <app-custom-input
                                                [control]="routineForm.controls.exercises.controls[i].controls.series.controls[j].controls.weight"
                                                type="number"
                                                id="weight"
                                                label="Peso"
                                                formControlName="weight" />
                                        </div>
                                        <div class="col-6 md:col-6">
                                            <!-- Replays -->
                                            <app-custom-input
                                                [control]="routineForm.controls.exercises.controls[i].controls.series.controls[j].controls.replays"
                                                type="number"
                                                id="replays"
                                                label="Repeticiones"
                                                formControlName="replays" />
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </div>
                        </p-accordion>

                        @if (!isDisabled) {
                        <div class="flex justify-content-start gap-2 px-3"
                            (click)="generateControlsSeries(i)">
                            <span class="text-gray-400">Añadir serie:</span> <i
                                class="pi pi-plus-circle text-gray-400"></i>
                        </div>
                        }
                    </div>
                </div>
            </div>

            <p-divider></p-divider>

            <!-- Tag -->
            @if(!isDisabled) {
            <div class="grid gap-2" formGroupName="tag">
                <div class="col-6">
                    <div class="flex flex-column gap-2">
                        <app-custom-input
                            [control]="routineForm.controls.tag.controls.title"
                            type="text"
                            id="tag"
                            label="Tag"
                            formControlName="title" />
                    </div>
                </div>
                <div class="col-5 mt-2">
                    <app-custom-input
                        label="Color del tag"
                        id="tag"
                        [valuesDropdown]="_routineSvc.getColorsTag()"
                        keyDropdown="label"
                        [control]="routineForm.controls.tag.controls.tagDropdown"
                        [placeHolder]="'Selecciona un color'"
                        type="dropdown" />
                </div>
            </div>
            }

            @if (isDisabled) {
            <p>Tag</p>
            }

            <div class="flex justify-content-left tagDiv">
                <p-tag
                    value="{{ routineForm.controls.tag.controls.title.value }}"
                    [severity]="
                  routineForm.controls.tag.controls.tagDropdown.value?.severity
                "></p-tag>
            </div>

            <!-- Comments -->
            <app-custom-input
                [control]="routineForm.controls.comments"
                type="textarea"
                id="comments"
                label="Comentarios"
                formControlName="comments" />

            <!-- Favourite -->
            @if (!isDisabled) {
            <app-custom-input
                [control]="routineForm.controls.favourite"
                type="checkbox"
                id="favourite"
                label="Añadir a favoritos"
                formControlName="favourite" />
            }
        </p-card>
    </div>
</div>

<div class="flex justify-content-center mt-2 mb-4">
    <p-button (onClick)="onSubmit()">Guardar</p-button>
</div>
}

<!-- TODO DETALLE -->

@if (items != undefined && isDisabled) {
<div [formGroup]="routineForm">
    <div class="sm:w-10 md:w-8 mx-auto">
        <p-card class="fadein animation-duration-500 w-full h-full">

            <!-- Favourite Item -->
            <i class="pi pi-bookmark-fill favouriteItem" [ngClass]="show()">
                <i class="pi pi-star-fill"></i>
            </i>

            <div class="grid" [ngClass]="{'mt-4': routineForm.controls.favourite.value}"> 
                <p class="col-8">{{routineForm.controls.titleRoutine.value | uppercase}}</p>

                <div class="flex justify-content-end gap-2 col-4">
                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" [raised]="true" severity="danger"  (onClick)="confirm2($event)" />
                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" [raised]="true" severity="secondary"  (click)="isDisabled = false"/>
                </div>

            </div>

            <div formArrayName="exercises">
                <div [formGroupName]="i" *ngFor="let item of routineForm.controls.exercises.controls; let i = index" class="mt-4">

                    <span class="font-bold">Ejercicio {{i + 1}}</span>:  <span>{{routineForm.controls.exercises.controls[i].controls.titleExercise.value}}</span>

                    <div formArrayName="series">
                        <p-divider *ngIf="routineForm.controls.exercises.controls[i].controls.series.controls.length > 0"></p-divider>
                        <p-accordion>
                            <div *ngFor="let item of routineForm.controls.exercises.controls[i].controls.series.controls; let j = index" [formGroupName]="j" class="seriesDiv">
                                <p-accordionTab [header]="'Serie' + ( j + 1 )">
                                    <div class="grid pr-5 py-0 fadein animation-duration-500 overflow-hidden">
                                        <div class="col-6 md:col-6">
                                            <!-- Weight -->
                                            <div class="flex flex-column">
                                                <p class="font-bold text-center">Peso</p>
                                                <span class="text-center">{{routineForm.controls.exercises.controls[i].controls.series.controls[j].controls.weight.value}}</span>
                                            </div>
                                        </div>
                                        <div class="col-6 md:col-6">
                                            <!-- Replays -->
                                            <div class="flex flex-column">
                                                <p class="font-bold text-center">Repeticiones</p>
                                                <span class="text-center">{{routineForm.controls.exercises.controls[i].controls.series.controls[j].controls.replays.value}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </div>
                        </p-accordion>
                    </div>
                </div>
            </div>

            <p-divider></p-divider>

            <!-- Tag -->
            <div class="flex">
                <p>Tag:</p>
                <div class="flex justify-content-left tagDivDetail">
                    <p-tag
                        value="{{ routineForm.controls.tag.controls.title.value }}"
                        [severity]="
                          routineForm.controls.tag.controls.tagDropdown.value?.severity
                        "></p-tag>
                </div>
            </div>

            <!-- Comments -->
            <p>Comentarios:</p>
            @if (routineForm.controls.comments.value != '') {
                <div class="break-text">
                    {{routineForm.controls.comments.value}}
                </div>
            }
            @else {
                <p>No hay comentarios</p>
            }
        </p-card>
    </div>
</div>
}

<p-confirmDialog   acceptLabel="Sí" 
rejectLabel="No"/>
<p-toast/>