<p-card class="styleCardObjetiveWeight relative">
  <div class="grid">
    <div class="col-4 flex flex-column">
      <!-- <h4 class="font-medium mt-3 alignItemh4" [ngClass]="{'text-green-500': isPositive(), 'text-red-500': !isPositive()}">
        <i class="pi text-xs ml-2" [ngClass]="{'text-green-500': isPositive(), 'text-red-500': !isPositive(), 'pi-minus': !isPositive(), 'pi-plus': isPositive()}"></i>
        {{improvements()}}% 
        <i class="pi text-sm ml-2 " [ngClass]="{'text-green-500': isPositive(), 'text-red-500': !isPositive(), 'pi-arrow-down': !isPositive(), 'pi-arrow-up': isPositive()}"></i>
      </h4> -->
      <span class="marginSpan text-white text-sm md:text-md">PESO: {{actualWeightN}}kg</span>
      <span class="m-0 text-white text-sm md:text-md">OBJETIVO: {{objetiveWeight()}}kg</span>
    </div>

    <div class="col-8">
      <app-apex-char-line-labels [dataChart]="dataChart()" *ngIf="dataChart().length > 1" [chartColor]="['#FFFFFF']"></app-apex-char-line-labels>
    </div>

  </div>
</p-card>
