<p-card class="styleCardObjetiveWeight relative">
  <div class="twoCards">
    <div class="flex flex-column cardObjetiveWeight">
      <h4 class="font-medium mt-3 alignItemh4" [ngClass]="{'text-green-500': isPositive(), 'text-red-500': !isPositive()}">
        <i class="pi text-xs ml-2" [ngClass]="{'text-green-500': isPositive(), 'text-red-500': !isPositive(), 'pi-minus': !isPositive(), 'pi-plus': isPositive()}"></i>
        {{improvements()}}% 
        <i class="pi text-sm ml-2 " [ngClass]="{'text-green-500': isPositive(), 'text-red-500': !isPositive(), 'pi-arrow-down': !isPositive(), 'pi-arrow-up': isPositive()}"></i>
      </h4>
      <h4 class="m-0">PESO: {{actualWeight()}}kg</h4>
      <h5 class="m-0">OBJETIVO: {{objetiveWeight()}}kg</h5>
    </div>

    <div class="cardObjetiveWeightB">
      <app-apex-char-line-labels [dataChart]="dataChart()" 
        [chartColor]="['#FFFFFF']"></app-apex-char-line-labels>
    </div>

  </div>
</p-card>
