span{
    font-size: 1.1rem;
}

::ng-deep .styleCardObjetiveWeight {
    width: 100%;
    margin: 0 auto;

    .p-card-body {
        max-width: 400px;
        min-height: 131px;
        padding: 18px;
        background-image: linear-gradient(135deg, #373737 10%, #cdcaca 100%);

        .marginSpan{
            margin-top: 55px;
        }
    }
}

@media(max-width: 390px) {
    ::ng-deep .styleCardObjetiveWeight .p-card-body .marginSpan{
        margin-top: 44px;
    }
}