::host {
    --alignItemFavourite: 0rem;
}

::ng-deep .p-inputtext {
  width: auto;
}

::ng-deep .p-dialog .p-dialog-header-icons {
  display: flex;
  align-items: center;
  margin-right: var(--alignItemFavourite)
}

::ng-deep .borde-degradado .p-card .p-card-body{
  border: 5px solid transparent !important; /* Configura el grosor del borde */
  border-image: linear-gradient(to bottom, #eff3f8, white) 1 !important;
  border-radius: 19px !important; /* Opcional: para bordes redondeados */
  background:linear-gradient(to bottom, #eff3f8, #ffffff);
  overflow: hidden;
}

i {
  color: #aeb1b6 !important;
}