<div>
    <p-card class="mb-3" (click)="showDialog()" [ngClass]="{ 'borde-degradado': aplicarEstilo }">
      <i class="pi pi-plus p-6 text-2xl text-color-secondary"> </i>
    </p-card>
    <pre class="text-center text-color-secondary ">Crear nueva rutina</pre>

    <p-dialog
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '90%' }"
      [dismissableMask]="true"
      header="cabecera "
    >
      <ng-template pTemplate="header" class="cabecera">
        <span>{{ date | date : "longDate" }}</span>
      </ng-template>

      <app-new-routine
        *ngIf="chargeComponent"
        (sendSubmitValue)="getValueSubmit($event)"
        (sendIsFavourite)="getsendIsFavourite($event)"
        [titleRoutine]="titleRoutine.value!"
      ></app-new-routine>
    </p-dialog>
  </div>