@let routinelocal = routine();

@if (routinelocal) {
    <p-card>

      <div class="flex justify-content-start gap-2">
        <i class="fa-solid fa-heart-pulse iconSize"></i>
      
        <div class="flex flex-column">
          <span class="text-center text-lg font-bold text-color-secondary">Reporte {{routinelocal.idRoutine + 1}}</span>
          <span class="ml-2">{{ getCurrentDate(routinelocal.created!) | date: 'dd/MM/yyyy'}}</span>
        </div>

        <div class="flex justify-content-end w-full">
          <i class="fa-solid fa-ellipsis-vertical iconSizeMenu cursor-pointer" (click)="menu.toggle($event)"></i>
        </div>
        <p-menu #menu [model]="items" [popup]="true" />
      
      </div>
  
    </p-card>

    <p-confirmDialog  acceptLabel="Sí" rejectLabel="No"/>
}