@let routineLocal = data();

@if (routineLocal) {
  <p-card class="mb-3 custom-card" (click)="checkActiveCard(routineLocal)" class="fadein animation-duration-1000" [routerLink]="[{  outlets: { content: [routineLocal.id] }} ]">
    @if (routineLocal.favourite) {
      <i class="pi pi-bookmark-fill favouriteItem">
        <i class="pi pi-star-fill"></i>
      </i>
    }

    <div class="flex justify-content-center">
      <img src=".../../assets/images/serio.png" alt="" width="90" />
    </div>

    <pre class="text-center text-base text-color-secondary break-text">{{routineLocal.titleRoutine}}</pre>

    <div class="card flex justify-content-center">
      <p-tag [value]="routineLocal.tag.title" [severity]="routineLocal.tag.tagDropdown?.severity" />
    </div>
  </p-card>
}