.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.favouriteItem {
    position: absolute;
    top: 0rem;
    font-size: 2.2rem;
    right: 0.5rem;
    color: orange;
    & i {
        position: absolute;
        top: 0.3rem;
        font-size: 1rem;
        right: 0.6rem;
        color: white;
    }
}

.break-text {
    word-wrap: break-word; /* Compatibilidad con navegadores antiguos */
    overflow-wrap: break-word; /* Maneja palabras largas */
    word-break: break-word; /* Rompe cadenas largas */
    white-space: normal; /* Permite que las líneas se ajusten */
  }