@let routinelocal = routine();

@if (routinelocal) {
    <p-card>

      <div class="grid">
        <i class="fa-solid fa-dumbbell iconSize col-2"></i>
      
        <div class="col-8 flex flex-column">
          <span class="text-start text-lg font-bold text-color-secondary">Rutina:  {{routinelocal.titleRoutine}}</span>
          <span class="ml-2">{{ getCurrentDate(routinelocal.created!) | date: 'dd/MM/yyyy'}}</span>
        </div>

        <div class="col-2 flex justify-content-end">
          <i class="fa-solid fa-ellipsis-vertical iconSizeMenu cursor-pointer" (click)="menu.toggle($event)"></i>
        </div>
        <p-menu #menu [model]="items" [popup]="true" />
      
      </div>
  
    </p-card>

    <p-confirmDialog  acceptLabel="Sí" rejectLabel="No"/>
}