<app-breadcrumb
  [itemsLabels]="itemsLabels"
  urlActive="Dashboard"></app-breadcrumb>

<div class="flex justify-content-center mb-8">
    <app-sparkboxs></app-sparkboxs>
</div>

<p-card header="Objetivo de peso">
    <app-apex-chart-line-gradient></app-apex-chart-line-gradient>
</p-card>



<!-- <p-button (onClick)="showDialog()" label="Show" /> -->
<p-dialog header="Bienvenido David" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Introduce tus datos y tu objetivo</span>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Altura</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">Objetivo de peso</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (onClick)="visible = false" />
        <p-button label="Guardar" (onClick)="visible = false" />
    </div>
</p-dialog>