<p-dialog
[header]="routine().titleRoutine"
[modal]="true"
[(visible)]="visible"
[style]="{ width: '90%' }"
(onHide)="hideDialog()"
>
@for (exercise of routine().exercises; track $index) {
<span class="p-text-secondary block mb-5"
  >Ejercicio {{ $index + 1 }}: {{ exercise.titleExercise }}</span
>

<p-accordion>
  @for (serie of exercise.series; track $index) {
  <p-accordionTab header="Serie: {{ $index + 1 }}">
    <div class="flex justify-content-between gap-2">
      <div class="text-gray-400">
        <span>Repeticiones: {{ serie.replays }},</span>
      </div>
      <div class="text-gray-400">
        <span>Peso: {{ serie.weight }}</span>
      </div>
    </div>
  </p-accordionTab>
  <br />
  }
</p-accordion>

}
</p-dialog>
