.apexcharts-legend text {
  font-weight: 900;
}

::ng-deep .styleCardRadial {
  width: 100%;
  display: block;
  
  .p-card{
    margin: 0 auto;
    min-width: 274px;
  }
  .p-card-body {
  height: auto;
  }
}
