<p-card class="mb-3 custom-card" (click)="showDialogResumen()">

  <div class="flex justify-content-center">
    <img src="../../../../../assets/images/registros.png" alt width="90" />
  </div>

  <pre
    class="text-center text-base text-color-secondary">Registro {{id() + 1}}</pre>

  <div class="card flex justify-content-center">
    {{getCurrentDate(register().created!) | date: 'dd/MM/yyyy'}}
  </div>
</p-card>

<p-dialog
  header="cabecera"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '335px' }"
  (onHide)="visible = false">
  <ng-template pTemplate="header" class="cabecera">
    <span>Detalle del registro {{ id() + 1 }}</span>
    <div class="flex justify-content-end widthSpecial">
      <i class="pi pi-trash text-red-400" (click)="confirm1($event)"></i>
    </div>
  </ng-template>

  <!-- Modal borrar registro -->
  <p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
      <div
        class="flex flex-column align-items-center p-5 surface-overlay border-round alignMargin"
      >
        <div
          class="border-circle inline-flex justify-content-center align-items-center h-6rem w-6rem"
        >
          <i
            class="pi pi-exclamation-triangle text-6xl text-red-300"
          ></i>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-2">
          {{ message.header }}
        </span>
        <p class="mb-0">{{ message.message }}</p>
        <div class="flex align-items-center gap-2 mt-4">
          <button
            pButton
            label="Eliminar"
            (click)="cd.accept()"
            class="w-8rem p-button-outlined"
            severity="danger"
          ></button>
          <button
            pButton
            label="Cancelar"
            (click)="cd.reject()"
            class="p-button-outlined w-8rem"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>

  <app-resumen [register]="register()" *ngIf="visible"></app-resumen>
</p-dialog>