

<div class="flex justify-content-center flex-column align-items-start">
    <p>Escribe la antigua contraseña:</p>

    <p-password [(ngModel)]="value" [feedback]="false" />
    
    <div class="w-full flex justify-content-between ">
        <div>
            <p class="mt-3">Escribe la nueva contraseña:</p>
            <p-password [(ngModel)]="value" [feedback]="false" [disabled]="true" />
        </div>
        <div>
            <p class="mt-3">Escribe de nuevo la contraseña:</p>
            <p-password [(ngModel)]="value" [feedback]="false" [disabled]="true" />
        </div>
    </div>
</div>

<div class="flex justify-content-start mt-5">
    <p-button [disabled]="true">Cambiar contraseña</p-button>
</div>
