<app-breadcrumb
  [itemsLabels]="itemsLabels"
  urlActive="Reportes"></app-breadcrumb>

<div class="flex justify-content-center mb-3">
  <p-calendar
    [(ngModel)]="date"
    [iconDisplay]="'input'"
    [showIcon]="true"
    inputId="icondisplay"
    selectionMode="range"
    [readonlyInput]="true"
    (ngModelChange)="getValueFilter()" />
  <p-button
    icon="pi pi-filter-slash"
    severity="info"
    *ngIf="date && date.length > 0"
    class="ml-2"
    (onClick)="clearFilter()"></p-button>
</div>

<app-cards-register [registers]="data"></app-cards-register>
