
    <div class="grid p-3">
         <div class="col-12  sm:col-8"><span class="font-bold">Nombre de usuario: </span>  <span class="styleSpan">{{user().username}}</span> </div>
        <div class="col-12  sm:col-4"><span class="font-bold">Edad: </span> <span class="styleSpan">{{user().age}}</span></div>
        <div class="col-12  sm:col-8"><span class="font-bold">Correo electrónico: </span>  <span class="styleSpan">{{user().email}}</span></div>
        <div class="col-12  sm:col-4"><span class="font-bold">Género: </span> <span class="styleSpan">{{user().gender.name}}</span></div>
        <div class="col-12  sm:col-12"><span class="font-bold">Fecha de creación de cuenta: </span> <span class="styleSpan">{{getDate(user().createdAt) | date: 'dd/MM/yyyy'}}</span> </div>
    </div>