<p>calculator works!</p>


<p-card [style]="{ width: '280px', margin: '5% auto', }">
    <div class="flex flex-column gap-2">
      <!-- Height  -->
      <label for="username">Altura (m)</label>
      <p-inputNumber
        [(ngModel)]="height"
        inputId="locale-user"
        [minFractionDigits]="2"
      />
  
      <!-- Age -->
      <div class="flex flex-column gap-2 my-2">
        <label for="username">Edad</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="age" />
      </div>
  
      <!-- weight -->
      <div class="flex flex-column gap-2 my-2">
        <label for="username">Peso (kg)</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="weight" />
      </div>
  
      <!-- Hip -->
      <div class="flex flex-column gap-2 my-2">
        <label for="username">Cadera (cm)</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="hip" />
      </div>
  
      <!-- Waist -->
      <div class="flex flex-column gap-2 my-2">
        <label for="username">Cintura (cm)</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="waist" />
      </div>
  
      <!-- Submit -->
      <p-button
        label="Calcular"
        class="pl-7 pt-4"
        (onClick)="sendMeasurements()"
      />
    </div>
  
    @if(totaligc != undefined){
    <h4>Indice de grasa corporal : {{ totaligc }}%</h4>
    }
  
    <p-toast [breakpoints]="{ '100px': { width: '100%', right: '0', left: '0' } }" />
</p-card>