<form action [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div class="flex justify-content-center align-items-center min-h-screen surface-ground">
        <div
            class="p-4 surface-card shadow-2 border-round w-full sm:w-10 md:w-6 lg:w-4">
            <div class="text-center mb-3">
                <img src="https://primefaces.org/cdn/primeng/images/logo.png"
                    alt="logo" class="mb-3" style="width: 50px;" />
                <h2 class="font-bold text-900 mb-2">Login</h2>
                <p class="text-600">Bienvenido de nuevo! Por favor inicia sesión en tu cuenta.</p>
            </div>

            <div class="formgroup">
                <!-- Username -->
                <div class="mb-3">
                    <label for="username"
                        class="block text-900 font-medium mb-2">Email</label>
                    <input id="username" type="email" pInputText
                        placeholder="Introduce tu email"
                        class="w-full border-round"  formControlName="email"/>
                </div>

                <!-- Password -->
                <div class="mb-4">
                    <label for="password"
                        class="block text-900 font-medium mb-2">Contraseña</label>
                    <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                    placeholder="Introduce tu contraseña"></p-password>
                </div>
            </div>

            <!-- Login Button -->
            <p-button type="submit"  class="w-full p-2 border-round font-bold">Login</p-button>

            <!-- Additional Links -->
            <div class="text-center mt-3">
                <a class="text-primary font-medium no-underline" (click)="forgetPassword = true">Olvidaste tu contraseña?</a>
                @if (forgetPassword) {
                    <div class="my-2">
                        <p-button severity="warning" class="mt-4 fadein animation-duration-200" *ngIf="forgetPassword" routerLink="/auth/forgetPassword" >Reestablecer contraseña</p-button>
                    </div>
                }

                <p class="text-600 mt-2">
                    No tienes una cuenta? <a href="#" 
                        class="text-primary font-medium no-underline"
                        routerLink="/auth/sign-up">Regístrate</a>
                </p>
            </div>
        </div>
    </div>

</form>

<!-- --------- Google -->
<!-- <button pButton label="Google"
    class="w-full p-3 border-round font-bold" (click)="submitGoogle()"></button> -->