<form action [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div class="flex justify-content-center align-items-center min-h-screen">
        <p-card class="cardWidth">
            <div class="text-center mb-3">
                <img src="assets/images/logo3.png" alt="logo" class="border-round-xl shadow-5 mt-5" style="width: 124px;" />
                <div class="flex justify-content-center align-items-center mt-3">
                    <p class="textColor w-10">Bienvenido de nuevo! Por favor inicia sesión en tu cuenta.</p>
                </div>
            </div>

            <div class="formgroup">

                <!-- Email -->
                <div class="mb-5 mt-4">
                    <p-floatLabel>
                        <input pInputText id="email"  type="email" formControlName="email"  class="w-full"/>
                        <label for="email" class="textColor">Email</label>
                    </p-floatLabel>
                </div>

                <!-- Password -->
                <div class="mb-4">
                    <p-floatLabel>
                        <p-password formControlName="password" [toggleMask]="true" [feedback]="false"/>
                        <label for="email" class="textColor">Contraseña</label>
                    </p-floatLabel>
                </div>

            </div>

            <!-- Login Button -->
             <div class="flex justify-content-center">
                <p-button type="submit" severity="info">Iniciar sesión</p-button>
             </div>
  

            <!-- Additional Links -->
            <div class="text-center mt-3">
                <a class="no-underline" routerLink="/auth/forgetPassword">Olvidaste tu contraseña?</a>

                <p>No tienes una cuenta? <a class="no-underline" routerLink="/auth/sign-up">Crear cuenta</a> </p>
            </div>
        </p-card>
    </div>
</form>

<p-toast></p-toast>