<app-breadcrumb
  [itemsLabels]="_routineSvc.getBreadcrumbLabels()"
  [urlActive]="'routines'"
></app-breadcrumb>

<div class="card flex justify-content-between flex-wrap alignItems mt-4 fadein animation-duration-2000">

  <div>
    <p-card class="mb-3" [ngClass]="{ 'borde-degradado': aplicarEstilo }"  [routerLink]="[{  outlets: { content: ['add'] }} ]" >
      <i class="pi pi-plus p-6 text-2xl text-color-secondary"> </i>
    </p-card>
    <pre class="text-center text-color-secondary ">Crear nueva rutina</pre>
  </div>

  @defer (when storeRoutines.routines().length > 0) {
    @for (routine of storeRoutines.routines(); track $index) {
      <app-cards-routines [data]="routine"></app-cards-routines>
    }
  }

</div>
