<app-breadcrumb
  [itemsLabels]="_routineSvc.getBreadcrumbLabels()"
  [urlActive]="'routines'"
></app-breadcrumb>

<p-toast />

<app-filter-data-components [inputsSelect]="dataInputSelect" (dataToFilter)="filterData($event)" (selectedValue)="selectValue.set($event)" (clear)="this.storeRoutines.set(this.store.routines())"/>

<div class="flex justify-content-between flex-wrap mt-4 fadein animation-duration-2000">

  @defer (when storeRoutines().length > 0) {
    @for (routine of storeRoutines(); track $index) {
      <app-cards-routines [routine]="routine" class="w-full mb-3 styleCards"></app-cards-routines>
    }
  }

</div>

