::ng-deep .p-sidebar-bottom {
    background: black;
    opacity: 0.8;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: none;
    height: auto;
}


.circle {
    width: 37px; /* Ancho del círculo */
    height: 35px; /* Alto del círculo */
    border-radius: 50%; /* Hace que el elemento sea circular */
}

::ng-deep .p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link{
    background: transparent;
    color: white;
    height: 55px;
}
::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
    background: transparent;
    height: 55px;
    color: white;
}

::ng-deep  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: transparent;
    height: 55px;
    color: white;
}

::ng-deep .p-accordion p-accordiontab:last-child .p-accordion-content {
    background: transparent;
    color: white;
}

.backgroundHome{
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
}

.backgroundReports{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.backgroundRoutines{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.backgroundProfile{
    background: rgb(85,85,85);
    background: linear-gradient(113deg, rgba(85,85,85,1) 0%, rgba(38,44,45,1) 51%, rgba(0,0,0,1) 100%);
}

.backgroundTerms{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.backgroundLogout{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

a{
    font-size: 20px;
}

.alignHouse{
    margin-top: -2px;
}

.alignProfile{
    margin-top: -3px;
}

.alignTerms{
    margin-left: 2px;
}









::ng-deep .p-button.p-button-link {
    height: 35px;
}
.styleUsername {
    margin: 10px 0;
}

.toolbarButton {
    margin-top: -30px;
}

::ng-deep .p-toolbar {
    border: none;
}

.custom-toolbar {
    position: fixed; /* Fija la barra en la ventana */
    bottom: 0; /* Posición en la parte inferior */
    left: 0; /* Alinea a la izquierda */
    width: 100%; /* Abarca todo el ancho de la ventana */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    background-color: white; /* Color de fondo para que sea visible */
}

.menuCss {
    position: fixed;
    right: 1rem;
    top: 1.5rem;
    z-index: 1000;
}

