::ng-deep .p-card {
    display: flex;
    width: 330px;
    height: 105px;
    overflow: hidden;
  }
  
  .card-header {
    text-align: left;
    width: 30%;
  }
  
  .card-content {
    display: flex;
    justify-content: center;
    width: 70%;
  }