.favouriteItem {
    position: absolute;
    top: -0.2rem;
    font-size: 2.2rem;
    right: 0.5rem;
    color: orange;
    & i {
        position: absolute;
        top: 0.3rem;
        font-size: 1rem;
        right: 0.6rem;
        color: white;
    }
}

::ng-deep .input-styling input {
    width: 90px !important;
}

::ng-deep .input-stylingWeight input {
    width: 145px !important;
}

.input-stylingTitleTag {
    width: 145px !important;
}

::ng-deep .classDropdown{
    margin-top: 0.5rem;
}

li{
    border-bottom: 1px solid;
    width: fit-content;
    padding: 5px;
    margin-bottom: 12px;
    color: #495057;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

::ng-deep textarea{height: 68px !important;}

::ng-deep .p-dialog-draggable .p-dialog-header{
    background: aliceblue;
}