
@defer (when _globalSvc.userInfo().createdAt != '' && form != undefined) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="flex justify-content-end">
            <p-button *ngIf="!isSave" icon="pi pi-pencil" type="submit" [rounded]="true" severity="secondary" [outlined]="true" (onClick)="editUserWeight(); isSave = true"/>
            <p-button *ngIf="isSave" icon="pi pi-save" type="submit" [rounded]="true" severity="primary"  (onClick)="editUserWeight(); isSave = false"/>
        </div>

        <div class="flex flex-wrap gap-2 p-fluid">
            <div class="flex-auto">
                <label for="intergerObjetiveWeight">Peso objetivo (kg):</label>
                <p-inputNumber 
                    inputId="intergerObjetiveWeight" 
                    formControlName="objetiveWeight"
                    class="mt-2"/>
            </div>
            <div class="flex-auto">
                <label for="integerActualWeight">Peso actual (kg):</label>
                <p-inputNumber 
                    inputId="integerActualWeight" 
                    formControlName="actualWeight"
                    class="mt-2" />
            </div>
        </div>
    </form>
}