<app-breadcrumb
    [itemsLabels]="itemsLabels"
    urlActive="Home"></app-breadcrumb>

<div class="card" *ngIf="this._globalSvc.userInfo().actualWeight == 0 && this._globalSvc.userInfo().objetiveWeight == 0">
    <p-messages [(value)]="messages!"    [showTransitionOptions]="'500ms'"  [hideTransitionOptions]="'500ms'"  [enableService]="false"/>
</div>

<!-- Trio de cards del top del body -->
<div class="block">
    <app-cards-top [productRoutines]="dataRoutine()" [productReports]="dataReports()" [objetiveWeight]="objetiveWeight" [actualWeight]="actualWeight" ></app-cards-top>
</div>

<!-- Cards del medio del body -->
<div class="block mt-7" *ngIf="dataRoutine().length > 0 && dataReports().length > 0">
    <app-cards-middel [routines]="dataRoutine()" [reports]="dataReports()"></app-cards-middel>
</div>

<!-- Cards finales del body -->
<div class="block" *ngIf="dataRoutine().length > 0 && dataReports().length > 0">
    <app-cards-bottom [productReports]="dataReports()" [productRoutines]="dataRoutine()"></app-cards-bottom>
</div>