<p-card>

    <!-- header -->
    <p-divider></p-divider>
    <div class="flex justify-content-center">
        <p-avatar 
        image="https://www.gravatar.com/avatar/05dfd4b41340d09cae045235eb0893c3?d=mp" 
        styleClass="flex align-items-center justify-content-center mr-2" 
        size="xlarge" />
    </div>

    <!-- Body -->

    <div class="card flex justify-content-center">
        <p-accordion>
            <p-accordionTab header="Datos del usuario">
                <app-data-user></app-data-user>
            </p-accordionTab>
            <p-accordionTab header="Objetivo de peso">
                <app-user-weight></app-user-weight>
            </p-accordionTab>
            <p-accordionTab header="Reestablecer contraseña">
                <app-reset-password></app-reset-password>
            </p-accordionTab>
            <p-accordionTab header="Politica de privacidad">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>

</p-card>