@defer (when images() != undefined) {
    <p-carousel 
    [value]="images()" 
    [numVisible]="3" 
    [numScroll]="3" 
    [circular]="false" 
    [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                    <div class="relative mx-auto">
                        <img 
                            [src]="product.base64" 
                            class="w-full border-round" />
                            <!-- <p-image 
                            [src]="product.base64" 
                            alt="Image" 
                            width="250" 
                            [preview]="true"
                            [class.hidden-image]="product.isVisible" /> -->
                    </div>
                </div>
                <p>Observaciones:</p>
                <span class="styleObservations">{{ product.observations }}</span>
            </div>
        </ng-template>
</p-carousel>
}
