
::ng-deep .p-image {
    width: 210px;
    height: 250px;
}

::ng-deep .p-image-preview-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

::ng-deep .p-image-preview-container>img{
    width: 100%;
}

::ng-deep .p-image-preview-indicator{
    left: auto;
}

.styleObservations{
    display: block;
    padding: 5px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}

.hidden-image {
    display: none;
  }