<form [formGroup]="forms" (ngSubmit)="onSubmit()">

    <p-card>
      <!-- <app-short-video></app-short-video> -->
  
      <!-- title -->
      <div class="flex justify-content-center">
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          [formControl]="titleRoutine"
        />
      </div>
  
      <hr />
  
      <!-- Subtitle -->
      <div class="my-4">
        <div class="flex flex-column gap-2">
          <label for="username">Ejercicio 1:</label>
          <input
            pInputText
            id="username"
            aria-describedby="username-help"
            formControlName="titleExercise"
          />
          <small id="username-help"> Introduce el nombre de la rutina </small>
        </div>
      </div>
  
      <!-- Num Series -->
      <div class="flex flex-column gap-2 my-2 overflow-hidden">
        <label for="username">Series</label>
        <p-inputNumber
          inputId="integeronly"
          formControlName="numSeries"
          (onKeyDown)="onKeyDown($event)"
        />
      </div>
  
      @if (forms.value.series != undefined && forms.value.series != 0) { 
          
          <!-- Series -->
          <div formArrayName="series">
              <div *ngFor="let set of series.controls; let i = index" [formGroupName]="i">
  
                  <label>Serie {{i + 1}}:</label>
      
                  <div class="flex overflow-hidden">
                      <!-- Replays -->
                      <div class="flex flex-column gap-2 my-2 overflow-hidden">
                          <label>Repeticiones:</label>
                          <p-inputNumber inputId="integeronly" formControlName="replays"  />
                      </div>
              
                      <!-- Weight -->
                      <div class="flex flex-column gap-2 my-2 overflow-hidden">
                          <label>Peso (kg)</label>
                          <p-inputNumber inputId="integeronly" formControlName="weight" />
                      </div>
                  </div>
      
              </div>
          </div>
      }
  
      <hr />
  
      <!-- Date -->
      <div class="flex flex-column gap-2 my-2">
        <label for="username">Fecha</label>
        <p-calendar
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="icondisplay"
          formControlName="date"
          dateFormat="dd.mm.yy"
        />
      </div>
  
      <!-- Comments -->
      <div class="my-2 gap-2">
        <span id="address2">Comentarios</span> <br />
        <textarea
          pInputTextarea
          aria-labelledby="address2"
          formControlName="comments"
        ></textarea>
      </div>
  
      <!-- Submit -->
      <div class="flex justify-content-center mt-4">
        <p-button type="submit" label="Crear" [disabled]="forms.invalid" />
      </div>
  
    </p-card>
    
  </form>
  