/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html{
    background-color: #eff3f8
}


.separator{
    height: 20px;
    width: 100%;
}

.p-ripple{
    width: 100px;
}

label{
    color: #495057;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 0.95rem;
    font-weight: lighter;
}