/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html{
    background-color: #eff3f8;
}

* {
    font-family: 'Lato, Helvetica, sans-serif';
    font-weight: lighter;
}

.separator{
    height: 1.2rem;
    width: 100%;
}


label{
    color: #495057;
    font-size: 1rem;
}

.p-dialog-draggable .p-dialog-header{
    height: 3.75rem;
    margin-bottom: 1rem;
}

.p-inputtext:disabled {
    background-color: transparent;
    border: none;
}
