/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// colores primeng
$primaryColor: #007bff;
$secondaryColor: #6c757d;
$successColor: #28a745;
$infoColor: #0EA5E9;
$warningColor: #ffc107;
$dangerColor: #dc3545;
$lightColor: #f8f9fa;
$darkColor: #343a40;

$infoHoverColor: #0F96D4;
$warningHoverColor: #e0a800;
$dangerHoverColor: #d73a49;
$successHoverColor: #3d8b40;

$fontFamily: "Raleway", serif;
$fontSize: 14px;
$fontWeight: 300;

$textColor: #616161;