::ng-deep .p-card {
    width: 168px;
    overflow: hidden;
    margin-bottom: 16px;
}

.alignItems {
    justify-content: center !important;
    gap: 4%;
}

@media (min-width: 768px) {
    .alignItems {
        justify-content: flex-start !important;
        gap: 3%;
        margin-left: 1%;
    }
}
