
<form [formGroup]="forms()" (ngSubmit)="onSubmit()">
  
  <!-- @if (forms.value.favourite) { -->
    <!-- Favourite Item -->
    <i class="pi pi-bookmark-fill favouriteItem">
      <i class="pi pi-star-fill"></i></i>
  <!-- } -->

  <!-- title -->
  <div class="flex justify-content-center">
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      formControlName="titleRoutine" />
  </div>

  <p-divider />

  <!-- Num Exercises -->
  <div class="flex flex-column gap-2 my-2 overflow-hidden">
    <label for="username">N de ejercicios: </label>
    <p-inputnumber inputId="integeronly"
      formControlName="numExercises"
     ></p-inputnumber>
  </div>

  <p-divider />


</form>
