::ng-deep .styleCardCircule {
    width: 100%;
    display: block;

    .p-card {
        margin: 0 auto;
        min-width: 274px;
    }
    .p-card-body {
        height: auto;
    }
}

::ng-deep .apexcharts-canvas {
    margin: 0 auto;
}
